.center {
	margin: auto; 
	width: 50%;
	padding: 10px;
}

.mynavbar {
	background-color: #c51162 !important;
	color: #ffffff;
}

.container-custom {
	background-color: #c51162; 
}

.homepage-banner {
	background-color: green !important; 
}
.jumbotron {
	background-color: 
}

#logo {

	border: auto; 
}

#login {
	background-color: #ff00ff !important; 
}