body {
	font-family:  Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.col-centered{
    float: none;
    margin-left: auto;
    margin-right: auto; 
    /*text-align: center;*/
}
.row {
	padding-top: 50px; 
	padding-bottom: 50px; 
}
.jumbotron {
	background-color: white; 
}

.container-custom {
	background-color: #2BBBAD; 
}

#logo {
	background-color: white; 
	margin-right: auto;
	margin-left: auto;  
	width: 25%;
}

#login {
	background-color: #e0f2f1;
	bord : 10px;
	border-color: #00695c;  
}

#search-bar {
	width: 50%;
	margin-right: auto; 
	margin-left: auto;    
}

.rectangle {
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	background-color: #2BBBAD;
	/*height: 50px;
	width: 120px;*/
	/*margin: auto;*/
	text-align: center;
	font-size: 36px; 
}

