.center {
	margin: auto; 
	width: 50%;
	padding: 10px;
}

.mynavbar {
	background-color: #c51162 !important;
	color: #ffffff;
}

.homepage-banner {
	background-color: green !important; 
}
.jumbotron {
	background-color: 
}

.container-custom {
	background-color: #2BBBAD; 
}

#logo {

	margin-right: auto;
	margin-left: auto;  
	width: 30%;
}

#login {
	background-color: #e0f2f1;
	border: 10px;
	border-color: #00695c;  
}